@model Infraestructure.Models.Puesto

@{ ViewBag.Title = "Nuevo Puesto"; }

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Puesto")">Puestos</a></li>
                    <li class="breadcrumb-item active">Nuevo</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


@using (Html.BeginForm("Save", "Puesto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <strong class="text-danger">Los campos marcados con * son obligatorios</strong>
        <br />
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <!--<h4>Usuario</h4>-->
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-10" })
            </div>
        </div>

        <div class="form-group row">
            <strong class="text-danger">*</strong>
            @Html.LabelFor(model => model.IdCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.IdCategoria, new SelectList(ViewBag.Categoria, "Id", "Descripcion"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <strong class="text-danger">*</strong>
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row" style="text-align:center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>}

<div>
    <a class="btn btn-warning" style="margin-bottom: 10px" href="@Url.Action("Index", "Puesto")" role="button"><i class="fas fa-arrow-alt-circle-up"></i>  Volver</a>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    //AQUI PARA PONER ACTIVO EL NAV-LINK, PONERSE EN CADA PAGINA
        $(document).ready(function () {
            $("#mantenimientos").addClass('active');
            $("#menupuestos").addClass('active');
        });</script>

    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
}