@model Infraestructure.Models.Puesto

@{ ViewBag.Title = "Editar Puesto"; }

@{ string idValor = Convert.ToString(ViewBag.ElId);}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>EDITAR PUESTO</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Puesto")">Puestos</a></li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


@using (Html.BeginForm("Save", "Puesto", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <center>
        <div class="card card-default mt-3 col-md-8">
            <div class="card-body p-3 col-md-12">
                <div class="card-header text-danger text-left border-bottom-0">
                    <p>* Campos requeridos</p>
                </div>
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="row text-left">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <strong class="text-danger">*</strong>
                                @Html.LabelFor(model => model.IdCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.IdCategoria, new SelectList(ViewBag.Categoria, "Id", "Descripcion"), htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <strong class="text-danger">*</strong>
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                  
                            @if (Model.Categoria.Estado)
                            {
                                <div class="form-group">
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "custom-control-input", id = "customSwitch3", @type = "checkbox" } })
                                        <label class="custom-control-label" for="customSwitch3">Estado</label>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <span class="right badge-pill badge-warning">La categoría de este puesto está desactivada.</span>
                            }
                            <div class="modal-footer justify-content-end">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>

   
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //AQUI PARA PONER ACTIVO EL NAV-LINK, PONERSE EN CADA PAGINA
        $(document).ready(function () {
            $("#mantenimientos").addClass('active');
            $("#menupuestos").addClass('active');
            $("#elCombo").ready(function () {
                document.getElementById("elCombo").setAttribute()
            });
        });</script>
}