@model Web.Viewmodels.ViewModelLogin

@{ Layout = null; }

@{ ViewBag.Title = "Inicio de sesión"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">

            <a href="#"><b>Naza</b> Musical Note</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingrese sus credenciales</p>


                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", placeholder = "Cédula" } })
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(model => model.Clave, new { @class = "form-control", placeholder = "Contraseña" })
                        @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>                
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                        <!-- /.col -->
                    </div>                               
                 }

                <p class="mb-1 mt-4">

                    <a href="@Url.Action("Index","Recuperacion")">¿Olvidó su contraseña?</a>
                </p>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src=".~/Content/dist/js/adminlte.min.js"></script>




    <script src="~/Content/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script>


    $(document).ready(function () {

        var option = '@TempData["Action"]'

        if (option == 'I') {
            //alert("Hola")
            Swal.fire("Disculpe", "¡Datos incorrectos!", "error");
            }

        if (option == 'E') {
            Swal.fire("Disculpe", "El usuario se encuentra inactivo en el sistema", "error");
            }
    });
    </script>


</body>
</html>