@model Infraestructure.Models.CorreoEmisor

@{
    ViewBag.Title = "Index";
}




<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>CORREO ELECTRÓNICO</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item active">Correo</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">


            <div style="float: right; cursor: pointer">
                <button class="btn"
                        data-toggle="tooltip" 
                        data-placement="left" 
                        data-original-title="Estas credenciales se utilizarán para enviar correos a los nuevos integrantes del sistema" 
                        aria-describedby="tooltip">
                    <i class="fa fa-info-circle text-primary" style="font-size: x-large"></i>
                </button>
            </div>

            <br />

        </div>
        <div class="card-body">


            <div class="col-md-12">


                <div class="row" style="padding-left: 10%; padding-right: 10%">
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong class="text-danger">*</strong>
                            @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <strong class="text-danger">*</strong>
                            @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" style=" display: grid; justify-content:center; align-content: center">
                    <div class="text-center">
                        <div class="form-group">
                            <p class="text-sm">
                                @Html.DisplayName("Estado: ")
                                @if (Model.Estado)
                                {
                                    <b class="d-block">Activo</b> }
                                else
                                {
                                    <b class="d-block">Inactivo</b>}

                            </p>
                        </div>
                    </div>
                </div>

                @*
                            <div class="text-muted">
            <p class="text-sm">
                @Html.DisplayName("Correo: ")
                <b class="d-block">@Html.DisplayFor(model => model.Correo)</b>
            </p>
            <p class="text-sm">
                @Html.DisplayName("Clave: ")
                <b class="d-block">@Html.DisplayFor(model => model.Clave)</b>
            </p>
            <p class="text-sm">
                @Html.DisplayName("Estado: ")
                @if (Model.Estado)
                {
                    <b class="d-block">Activo</b> }
                else
                {
                    <b class="d-block">Inactivo</b>}

            </p>
        </div>
                *@

            </div>
            <div class="col-md-6">

            </div>

            <div class="card-footer">
                <div class="float-right">
                    <a class="btn btn-info btn-sm mr-1" href="@Url.Action("Edit","CorreoEmisor" , new { id = Model.Id })">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                    </a>
                </div>


            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {


                // Recibe los parámetros del Controller
                var option = '@TempData["Action"]'
                var message = '@TempData["Message"]'


                 if (option == 'U') {
                     Swal.fire('Éxito!',
                         'El registro fue actualizado correctamente.',
                         'success');
                }

            if (option == 'E') {
                Swal.fire('Error!',
                    'Se ha producido un error: '+message,
                    'error');
            }
        });




        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ trigger: 'click' });
        });

    </script>
}