@model Infraestructure.Models.CorreoEmisor

@{
    ViewBag.Title = "Index";
}




<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>CORREO ELECTRÓNICO</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item active">Correo</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">


            <div style="float: right; cursor: pointer">
                <button class="btn"
                        data-toggle="tooltip"
                        data-placement="left"
                        data-original-title="Estas credenciales se utilizarán para enviar correos a la hora de crear nuevos integrantes del sistema"
                        aria-describedby="tooltip">
                    <i class="fa fa-info-circle text-primary" style="font-size: x-large"></i>
                </button>
            </div>

            <br />

        </div>
        <div class="card-body">


            <div class="col-md-12">


                <div class="row" style="padding-left: 10%; padding-right: 10%">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*<strong class="text-danger">*</strong>*@
                            @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @*<strong class="text-danger">*</strong>*@
                            @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control", @disabled = true } })
                            </div>
                        </div>
                    </div>

                </div>




                <div class="callout callout-warning">
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Aviso!</h5>
                    <p>El correo electrónico que se utiliza, debe tener activado el acceso de aplicaciones menos seguras.</p>
                    <br />
                    <p>Para más información, <a target="_blank" href="https://support.google.com/accounts/answer/6010255?hl=es-419">Haz click aquí</a></p>
                </div>



            </div>
            <div class="col-md-6">

            </div>

            
            <div style="float: right">
                <p class="tooltip--left" data-tooltip="Editar las credenciales del correo del sistema">
                    <a class="btn btn-primary btn-sm mr-1" href="@Url.Action("Edit","CorreoEmisor" , new { id = Model.Id })">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                    </a>
                </p>
            </div>
           
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {


                // Recibe los parámetros del Controller
                var option = '@TempData["Action"]'
                var message = '@TempData["Message"]'


                 if (option == 'U') {
                     Swal.fire('Éxito!',
                         'El registro fue actualizado correctamente.',
                         'success');
                }

            if (option == 'E') {
                Swal.fire('Error!',
                    'Se ha producido un error: '+message,
                    'error');
            }
        });




        $(function () {
            $('[data-toggle="tooltip"]').tooltip({ trigger: 'click' });
        });

    </script>

    <script>
        //AQUI PARA PONER ACTIVO EL NAV-LINK, PONERSE EN CADA PAGINA
        $(document).ready(function () {
            $("#menucorreo").addClass('active');
        });

    </script>
}