@model Infraestructure.Models.Cancion

@{
    ViewBag.Title = "Editar Canción";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>EDITAR CANCIÓN</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Cancion")">Canciones</a></li>
                    <li class="breadcrumb-item active">Editar</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


@using (Html.BeginForm("Save", "Cancion", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card card-default mt-3">
        <div class="card-body p-3 col-md-12">
            <div class="card-header text-danger text-left border-bottom-0">
                <p>* Campos requeridos</p>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Url_version)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <strong class="text-danger">*</strong>
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Autor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Genero, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tonalidad, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Tonalidad, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Tonalidad, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>





            <div class="row">

               

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                            @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "custom-control-input", id = "customSwitch3", @type = "checkbox" } })
                            <label class="custom-control-label" for="customSwitch3">Estado</label>
                        </div>
                    </div>
                </div>
            </div>





            <div style="float:right">
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>

        </div>
    </div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //AQUI PARA PONER ACTIVO EL NAV-LINK, PONERSE EN CADA PAGINA
        $(document).ready(function () {
            $("#mantenimientos").addClass('active');
            $("#menucancion").addClass('active');

        });

    </script>

    <script>
        $('#checkEstado').change(function () {
            var estado = $('#checkEstado').val();
            debugger;
            if (estado)
                $('#indicaEstado').html = 'Activo'
            else
                $('#indicaEstado').text = 'Inactivo'
        })
    </script>
}
