@model Web.Viewmodels.ViewModelChangePass

@{
    Layout = null;
}

@{
    ViewBag.Title = "Recuperación Contraseña";
}

@using (Html.BeginForm("RecoveryPass", "Recuperacion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cambio de contraseña</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.js" integrity="sha256-mkdmXjMvBcpAyyFNCVdbwg4v+ycJho65QLDwVE3ViDs=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link href="~/Content/dist/css/cambio/cambiostyle.css" rel="stylesheet" />
    </head>
    <body>
        <!-- partial:index.partial.html -->
        <!-- NORMALIZED CSS INSTALLED-->
        <!-- View settings for more info.-->
        <div id="container">
            <div id="inviteContainer">
                <div class="acceptContainer">
                    <form action="@Url.Content("~/Recuperacion/RecoveryPass")" method="post">
                        <h1>Recuperación de contraseña</h1>
                        <div class="formContainer">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="formDiv" style="transition-delay: 0.2s">
                                <p style="margin-bottom:15px; text-align:justify">Recuerde que la contraseña debe coincidir en ambos campos. Además, debe contener al menos una letra minúscula y mayúscula, al menos un número y al menos un caracter especial.</p>
                            </div>
                            <div class="formDiv" style="transition-delay: 0.4s">
                                @Html.HiddenFor(model => model.token)
                                <p>INGRESE SU NUEVA CONTRASEÑA</p>
                                <!--<input type="text" />-->
                                @Html.PasswordFor(model => model.NewClave, new { htmlAttributes = new { @class = "disennoinputs" } })
                                <!--<input type="text" id="claveNueva"/>-->
                                @Html.ValidationMessageFor(model => model.NewClave, "", new { @class = "text-danger" })
                            </div>
                            <div class="formDiv" style="transition-delay: 0.4s">
                                <p>CONFIRME SU NUEVA CONTRASEÑA</p>
                                <!--<input type="text" />-->
                                @Html.PasswordFor(model => model.ConfirmNewClave, new { htmlAttributes = new { @class = "disennoinputs" } })
                                <!--<input type="text" id="claveNuevaConfirm" />-->
                                @Html.ValidationMessageFor(model => model.ConfirmNewClave, "", new { @class = "text-danger" })
                            </div>
                            <div class="formDiv" style="transition-delay: 0.6s">
                                 <div style="text-align:center">
                                        <button id="botonAceptar" class="btn-primary" type="submit" >
                                            Guardar cambio
                                        </button>
                                 </div>
                                
                                <!--<span class="register">Necesita una cuenta?<a href="#">Registrar</a></span>-->
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- partial -->
        <script src="~/Content/dist/js/cambio/script.js"></script>
    </body>
</html>
}

<script type="text/javascript">
    // Habilita los tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(document).ready(function () {
        //document.getElementById('botonAceptar').disabled = true;
        //document.getElementById('botonAceptar').style= "background-color: white; color: gray"
        $("#botonAceptar").attr('disabled', 'disabled');
        $("#botonAceptar").addClass('btn-primary-disabled');
    });

    $("#NewClave").on("keyup paste", function () {
        //alert("Hola mundo");
        validarClave();
        //$("#botonAceptar").removeAttr('disabled');
        //$("#botonAceptar").removeClass('btn-primary-disabled');
    });

    $("#ConfirmNewClave").on("keyup paste", function () {
        //alert('Hola mundo');
        validarClave();
        //$("#botonAceptar").removeAttr('disabled');
        //$("#botonAceptar").removeClass('btn-success-disabled');
    });

    //$("#claveNuevaConfirm").keyup(function (e) {
    //    validarClave();
    //});

    function validarClave() {


        //var claveNueva = $("#claveNueva").val();
        //var claveNuevaConfirm = $("#claveNuevaConfirm").val();
        var claveNueva = $("#NewClave").val();
        var claveNuevaConfirm = $("#ConfirmNewClave").val();
        //alert(claveNueva2 + claveNueva3);
        var longitudValidada = false;
        var minusculasValidada = false;
        var mayusculasValidada = false;
        var numerosValidada = false;
        var simbolosValidada = false;


        //Tamaño de la clave entre 9 y 25
        let tamanno = (claveNueva.length >= 9 && claveNueva.length <= 25 && claveNuevaConfirm.length >= 9 && claveNuevaConfirm.length <= 25);
        if (tamanno) {
            longitudValidada = true;
        } else {
            longitudValidada = false;
        }



        //debugger;
        //let regexLetraMinuscula = new RegExp(/(?=.*[a-z]).{1,}$/);^
        let regexLetraMinuscula = /(?=.*[a-z]).{1,}$/;
        let letraMinuscula1 = regexLetraMinuscula.test(claveNueva);
        let letraMinuscula2 = regexLetraMinuscula.test(claveNuevaConfirm);
        if (letraMinuscula1 == true && letraMinuscula2 == true) {
            minusculasValidada = true;
        }

        if (letraMinuscula1 == false && letraMinuscula2 == false || letraMinuscula1 == true && letraMinuscula2 == false || letraMinuscula1 == false && letraMinuscula2 == true) {
            minusculasValidada = false;
        }


        //let regexLetraMayuscula = new RegExp(/(?=.*[A-Z]).{1,}$/);
        let regexLetraMayuscula = /(?=.*[A-Z]).{1,}$/;
        let letraMayuscula1 = regexLetraMayuscula.test(claveNueva);
        let letraMayuscula2 = regexLetraMayuscula.test(claveNuevaConfirm);
        if (letraMayuscula1 == true && letraMayuscula2 == true) {
            mayusculasValidada = true;
        }

        if (letraMayuscula1 == false && letraMayuscula2 == false || letraMayuscula1 == true && letraMayuscula2 == false || letraMayuscula1 == false && letraMayuscula2 == true) {
            mayusculasValidada = false;
        }


        //let regexNumero = new RegExp(/(?=.*[0-9]).{1,}$/);
        let regexNumero = /(?=.*[0-9]).{1,}$/;
        let numero1 = regexNumero.test(claveNueva);
        let numero2 = regexNumero.test(claveNuevaConfirm);
        if (numero1 == true && numero2 == true) {
            numerosValidada = true;
        }

        if (numero1 == false && numero2 == false || numero1 == true && numero2 == false || numero1 == false && numero2 == true) {
            numerosValidada = false;
        }


        //let regexEspeciales = new RegExp(/(?=.*[!#$%&'()*+,-./:;<=>?[\]^_{|}~]).{1,}$/);
        let regexEspeciales = /(?=.*[!#$%&'()*+,-./:;<=>?[\]^_{|}~]).{1,}$/;
        let especiales1 = regexEspeciales.test(claveNueva);
        let especiales2 = regexEspeciales.test(claveNuevaConfirm);
        if (especiales1 == true && especiales2 == true) {
            simbolosValidada = true;
        }

        if (especiales1 == false && especiales2 == false || especiales1 == true && especiales2 == false || especiales1 == false && especiales2 == true) {
            simbolosValidada = false;
        }
        debugger;
        //$("#botonAceptar").prop('disabled', claveValidada);
        if (longitudValidada == true && minusculasValidada == true && mayusculasValidada == true && numerosValidada == true && simbolosValidada == true) {
            $("#botonAceptar").removeAttr('disabled');
            $("#botonAceptar").removeClass('btn-primary-disabled');
        } else {
            $("#botonAceptar").attr('disabled', 'disabled');
            $("#botonAceptar").addClass('btn-primary-disabled');
        }
    }

</script>
@Scripts.Render("~/bundles/jqueryval")

